body{
    overflow-x: hidden;
}
@font-face {
    font-family: 'UbuntuB';
    src: url('../fonts/UbuntuB.eot');
    src: url('../fonts/UbuntuB.eot') format('embedded-opentype'),
         url('../fonts/UbuntuB.woff2') format('woff2'),
         url('../fonts/UbuntuB.woff') format('woff'),
         url('../fonts/UbuntuB.ttf') format('truetype'),
         url('../fonts/UbuntuB.svg#UbuntuB') format('svg');
}
@font-face {
    font-family: 'UbuntuM';
    src: url('../fonts/UbuntuM.eot');
    src: url('../fonts/UbuntuM.eot') format('embedded-opentype'),
         url('../fonts/UbuntuM.woff2') format('woff2'),
         url('../fonts/UbuntuM.woff') format('woff'),
         url('../fonts/UbuntuM.ttf') format('truetype'),
         url('../fonts/UbuntuM.svg#UbuntuM') format('svg');
}
@font-face {
    font-family: 'UbuntuR';
    src: url('../fonts/UbuntuR.eot');
    src: url('../fonts/UbuntuR.eot') format('embedded-opentype'),
         url('../fonts/UbuntuR.woff2') format('woff2'),
         url('../fonts/UbuntuR.woff') format('woff'),
         url('../fonts/UbuntuR.ttf') format('truetype'),
         url('../fonts/UbuntuR.svg#UbuntuR') format('svg');
}

section#main{
    padding-top: 30px;
    height: 1000px;
    background: url(../img/fon.jpg) center center;
   
}
.phone>a>h3{
    color: white;
    font-family: 'UbuntuM';
}
.phone>a{
    color: red;
    font-family: 'UbuntuM';
}
.phone>p{
    color: white;
    font-family: 'UbuntuR';
    text-decoration: none;
}


.soc_seti{
    padding-top: 20px;
}
.zagolovok>h1{
    color: white;
    font-family: 'UbuntuB';
    margin-top: 100px;
    text-transform: uppercase;
}
.head-zagolovok>h2{
    color: #a60436;
    font-family: 'UbuntuB';
}
.main-form{
    background-color: rgba(255,255,255,0.45);
    padding-bottom: 40px;
    margin-top: 80px;
    
}
.main-form input{
    width: 80%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: 'UbuntuR';
}
.btn{
    color: white;
    background-color: #a60436;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #420001;
    border-right: 3px solid #420001;
    margin-top: 15px;
    padding: 10px 40px;
    font-family: 'UbuntuR';
    font-size: 16px;
}
.btn:hover{
    color: white;
    background-color: #a4254c;
   
}
.btn:focus{
    color: white;
    background-color: #f70011;
     }
#ikonki{
    padding-top: 2%;
}
.zagolovok_ikonki{
    font-family: 'UbuntuB';
    color: #363636;
}
.icons img{
    width: 150px;
}
.icons{
    margin-top: 2%;
}
.icons h4{
    padding-top: 25px;
    font-family: 'UbuntuM';
    color: #a60436;
}
.zagolovok_price{
    margin-bottom: 2%;
    font-family: 'UbuntuB';
}
.card>h3{
    font-family: 'UbuntuB';
}

.card{
    border: 5px solid #a60436;
    border-radius: 5px;
    padding-bottom: 20px;
}
#price{
    padding-bottom: 2%;
}
.card button{
    color: white;
    background-color: #a60436;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    font-family: 'UbuntuM';
}
.card ul>li{
    font-family: 'UbuntuM';
}
.card h4{
    font-family: 'UbuntuB';
}
.kvartiri{
    margin-bottom: 2%;
}
.footer-form input{
    width: 80%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #a60436 ;
    font-family: 'UbuntuR';
}
.foot-zagolovok{
    font-family: 'UbuntuB';
    color: #393939;
    
}
::-webkit-input-placeholder { color: #a60436; }
::-moz-placeholder          { color: #a60436; } /* Firefox 19+ */
:-moz-placeholder           { color: #a60436; } /* Firefox 18- */
:-ms-input-placeholder      { color: #a60436; }
   
@media (min-width:0px) and (max-width:320px){
    .logo img{
        width: 100px;
    }
    .logo{
        text-align: center;
    }
    .soc_seti img{
        width: 20px;
    }
    .logorevizor img{
        
        width: 100px;
    }
     .phone{
        text-align: center;
    }
    .zagolovok>h1{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .main-form h2{
        font-size: 16px;
    }
    .main-form{
        margin: 5px;
    }
    section#main{
        height: 650px;
    }
    .zagolovok_ikonki h2{
      font-size: 16px;  
    }
    .icons h4{
        font-size: 16px;
        padding-top: 0px;
        margin-bottom: 15px;
    }
    .zagolovok_price h2{
        font-size: 18px;  
    }
    .card h3{
        font-size: 16px;  
    }
    .card h4{
        font-size: 14px;  
    }
    .card{
        margin-bottom: 20px;
    }
    .card img{
        width: 90%;
    }
    .foot-zagolovok h2{
        font-size: 17px;  
    }
}
@media (min-width:321px) and (max-width:480px){
    .logo img{
        width: 130px;
    }
    .logo{
        text-align: center;
    }
    .soc_seti img{
        width: 25px;
    }
    .logorevizor img{
        
        width: 130px;
    }
     .phone{
        text-align: center;
    }
    .zagolovok>h1{
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .main-form h2{
        font-size: 20px;
    }
    .main-form{
        margin: 5px;
    }
    section#main{
        height: 750px;
    }
    .zagolovok_ikonki h2{
      font-size: 20px;  
    }
    .icons img{
        margin-bottom: 10px;
    }
    .icons h4{
        font-size: 18px;
        padding-top: 0px;
        margin-bottom: 15px;
    }
    .zagolovok_price h2{
        font-size: 22px;  
    }
    .card h3{
        font-size: 18px;  
    }
    .card h4{
        font-size: 16px;  
    }
    .card{
        margin-bottom: 20px;
    }
    .card img{
        width: 95%;
    }
    .foot-zagolovok h2{
        font-size: 20px;  
    }
}
@media (min-width:481px) and (max-width:768px) {
    .logo img{
        width: 160px;
    }
    .logo{
        text-align: center;
    }
    .soc_seti img{
        width: 30px;
    }
    .logorevizor img{
        
        width: 180px;
    }
     .phone{
        text-align: center;
    }
    .zagolovok>h1{
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .main-form h2{
        font-size: 24px;
    }
    .main-form{
        margin: 5px;
    }
    section#main{
        height: 750px;
    }
    .zagolovok_ikonki h2{
      font-size: 22px;  
    }
    .icons img{
        margin-bottom: 10px;
    }
    .icons h4{
        font-size: 20px;
        padding-top: 0px;
        margin-bottom: 15px;
    }
    .zagolovok_price h2{
        font-size: 24px;  
    }
    .card h3{
        font-size: 20px;  
    }
    .card h4{
        font-size: 18px;  
    }
    .card{
        margin-bottom: 20px;
    }
    .card img{
        width: 100%;
    }
    .foot-zagolovok h2{
        font-size: 22px;  
    }
}
@media (min-width:769px) and (max-width:992px){
    .card{
        margin-bottom: 20px;
    }
    .card h3{
        font-size: 22px;  
    }
    .logo img{
        width: 180px;
    }
    .logo{
        text-align: center;
    }
    .soc_seti img{
        width: 40px;
    }
    .logorevizor img{
        
        width: 200px;
    }
    .btn{
        padding: 8px 15px;
    }
    section#main{
        height:800px;
    }
    .card img{
        width: 100%;
    }
}
@media (min-width:993px) and (max-width:1200px){
    .card img{
        width: 100%;
    }
    .card h3{
        font-size: 22px;  
    }
    section#main{
        height:900px;
    }
}

